In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('pima-indians-diabetes.csv', skiprows=9, header=None)
df.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [3]:
df.iloc[:5, :8]

   0    1   2   3    4     5      6   7
0  6  148  72  35    0  33.6  0.627  50
1  1   85  66  29    0  26.6  0.351  31
2  8  183  64   0    0  23.3  0.672  32
3  1   89  66  23   94  28.1  0.167  21
4  0  137  40  35  168  43.1  2.288  33

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    df.iloc[:, :8], df[8], stratify=df[8],
    test_size=0.2, random_state=2021
)

In [21]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((614, 8), (154, 8), (614,), (154,))

In [22]:
from sklearn.tree import DecisionTreeClassifier

In [23]:
dtc = DecisionTreeClassifier(random_state=2021)
dtc.fit(X_train, y_train)

DecisionTreeClassifier(random_state=2021)

In [24]:
pred_dt = dtc.predict(X_test)

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, pred_dt)

0.7077922077922078

In [10]:
from sklearn.model_selection import GridSearchCV

In [11]:
params = {
    'max_depth': [2, 4, 6],
    'min_samples_split': [2, 4, 6]
}

In [26]:
dtc = DecisionTreeClassifier(random_state=2021)
grid_dt = GridSearchCV(dtc, param_grid=params, cv=3)
grid_dt.fit(X_train, y_train)

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(random_state=2021),
             param_grid={'max_depth': [2, 4, 6],
                         'min_samples_split': [2, 4, 6]})

In [27]:
grid_dt.best_score_

0.7443248844253149

In [28]:
grid_dt.best_params_

{'max_depth': 2, 'min_samples_split': 2}

In [29]:
pred = grid_dt.best_estimator_.predict(X_test)
accuracy_score(y_test, pred)

0.7337662337662337

In [31]:
best_dtc = grid_dt.best_estimator_

In [32]:
best_dtc.score(X_test, y_test)

0.7337662337662337